# Librerias

In [54]:
import pandas as pd
from sqlalchemy import create_engine, text
from glob import glob
import os
import re

# Conexion

In [55]:
# Datos de conexi√≥n
user = "root"
password = "Levp13aa"
host = "localhost"
database = "futbol_dw"

# Crear conexi√≥n
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

# Probar conexi√≥n
with engine.connect() as conn:
    result = conn.execute(text("SELECT 'Conexi√≥n exitosa a MySQL!' AS mensaje;"))
    print(result.fetchone())

('Conexi√≥n exitosa a MySQL!',)

# Bronze

### Equipos

Evitar los duplicados, o dobles tablas

In [56]:
with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS bronze_teams;"))
    conn.commit()
print("Tabla 'bronze_teams' eliminada correctamente.\n")

Tabla 'bronze_teams' eliminada correctamente.

Espa√±a

In [57]:
#  Carpeta con los CSV 
folder_path = r"D:\Fut_Pred\Data_equipos\2024-2025\Espa√±a"
csv_files = glob(os.path.join(folder_path, "*.csv"))
print(f" Se encontraron {len(csv_files)} archivos en {folder_path}\n")

#  Funci√≥n para limpiar nombres 
def clean_column_name(col):
    col = str(col).strip()
    col = re.sub(r"[^\w]+", "_", col)  
    col = re.sub(r"__+", "_", col)
    col = col.strip("_")
    return col[:60]

# Cargar archivos 
for csv_path in csv_files:
    try:
        df = pd.read_csv(csv_path, sep=",", encoding="utf-8")
        df.columns = [clean_column_name(c) for c in df.columns]

        # Eliminar duplicados de encabezados
        df = df.loc[:, ~df.columns.duplicated()]

        # Metadatos
        df["league"] = "Laliga"
        df["season"] = "2024-2025"
        df["team_name"] = os.path.splitext(os.path.basename(csv_path))[0]
        df["file_source"] = os.path.basename(csv_path)

        # Subir a MySQL
        df.to_sql("bronze_teams", engine, if_exists="append", index=False, method="multi", chunksize=1000)
        print(f" Cargado: {os.path.basename(csv_path)} ({len(df)} filas)")

    except Exception as e:
        print(f" Error al cargar {os.path.basename(csv_path)} ‚Üí {e}")

print("\nüèÅ Proceso completado: equipos de Espa√±a cargados correctamente en 'bronze_teams'")

 Se encontraron 20 archivos en D:\Fut_Pred\Data_equipos\2024-2025\Espa√±a

 Cargado: Alaves_flat.csv (38 filas)
 Cargado: Athletic_Club_flat.csv (38 filas)
 Cargado: Atletico_Madrid_flat.csv (48 filas)
 Cargado: Celta_Vigo_flat.csv (38 filas)
 Cargado: Espayol_flat.csv (38 filas)
 Cargado: FC_Barcelona_flat.csv (52 filas)
 Cargado: Getafe_flat.csv (38 filas)
 Cargado: Girona_flat.csv (38 filas)
 Cargado: Las_Palmas_flat.csv (38 filas)
 Cargado: Leganes_flat.csv (38 filas)
 Cargado: Mallorca_flat.csv (38 filas)
 Cargado: Osasuna_flat.csv (38 filas)
 Cargado: Rayo_Vallecano_flat.csv (38 filas)
 Cargado: Real_Betis_flat.csv (38 filas)
 Cargado: Real_Madrid_flat.csv (38 filas)
 Cargado: Real_Sociedad_flat.csv (50 filas)
 Cargado: Real_Valladolid_flat.csv (38 filas)
 Cargado: Sevilla_flat.csv (38 filas)
 Cargado: Valencia_flat.csv (38 filas)
 Cargado: Villareal_flat.csv (38 filas)

üèÅ Proceso completado: equipos de Espa√±a cargados correctamente en 'bronze_teams'

Inglaterra

In [58]:
#  Carpeta con los CSV 
folder_path = r"D:\Fut_Pred\Data_equipos\2024-2025\Inglaterra"
csv_files = glob(os.path.join(folder_path, "*.csv"))
print(f" Se encontraron {len(csv_files)} archivos en {folder_path}\n")

#  Funci√≥n para limpiar nombres 
def clean_column_name(col):
    col = str(col).strip()
    col = re.sub(r"[^\w]+", "_", col)  
    col = re.sub(r"__+", "_", col)
    col = col.strip("_")
    return col[:60]

# Cargar archivos 
for csv_path in csv_files:
    try:
        df = pd.read_csv(csv_path, sep=",", encoding="utf-8")
        df.columns = [clean_column_name(c) for c in df.columns]

        # Eliminar duplicados de encabezados
        df = df.loc[:, ~df.columns.duplicated()]

        # Metadatos
        df["league"] = "Premier_League"
        df["season"] = "2024-2025"
        df["team_name"] = os.path.splitext(os.path.basename(csv_path))[0]
        df["file_source"] = os.path.basename(csv_path)

        # Subir a MySQL
        df.to_sql("bronze_teams", engine, if_exists="append", index=False, method="multi", chunksize=1000)
        print(f" Cargado: {os.path.basename(csv_path)} ({len(df)} filas)")

    except Exception as e:
        print(f" Error al cargar {os.path.basename(csv_path)} ‚Üí {e}")

print("\n Proceso completado: equipos de Espa√±a cargados correctamente en 'bronze_teams'")

 Se encontraron 20 archivos en D:\Fut_Pred\Data_equipos\2024-2025\Inglaterra

 Cargado: Arsenal_flat.csv (52 filas)
 Cargado: Aston_Villa_flat.csv (50 filas)
 Cargado: Bournemouth_flat.csv (38 filas)
 Cargado: Brentford_flat.csv (38 filas)
 Cargado: Brighton_flat.csv (38 filas)
 Cargado: Chelsea_flat.csv (51 filas)
 Cargado: Crystal_Palace_flat.csv (38 filas)
 Cargado: Everton_flat.csv (38 filas)
 Cargado: Fulham_flat.csv (38 filas)
 Cargado: Ipswich_Town_flat.csv (38 filas)
 Cargado: Leicester_flat.csv (38 filas)
 Cargado: Liverpool_flat.csv (38 filas)
 Cargado: Manchester_city_flat.csv (48 filas)
 Cargado: Manchester_united_flat.csv (38 filas)
 Cargado: Newcastle_flat.csv (38 filas)
 Cargado: Nothingham_Forest_flat.csv (38 filas)
 Cargado: Southampton_flat.csv (38 filas)
 Cargado: Tottenham_flat.csv (38 filas)
 Cargado: West_Ham_flat.csv (38 filas)
 Cargado: Wolves_flat.csv (38 filas)

 Proceso completado: equipos de Espa√±a cargados correctamente en 'bronze_teams'

In [64]:
query = """
SELECT team_name, COUNT(*) AS registros, MIN(Date) AS primer_partido, MAX(Date) AS ultimo_partido
FROM bronze_teams
WHERE league = 'Laliga'
GROUP BY team_name
ORDER BY team_name;
"""
pd.read_sql(query, engine)

               team_name  registros primer_partido ultimo_partido
0            Alaves_flat         38     2024-08-16     2025-05-24
1     Athletic_Club_flat         38     2024-08-15     2025-05-25
2   Atletico_Madrid_flat         48     2024-08-19     2025-05-25
3        Celta_Vigo_flat         38     2024-08-16     2025-05-24
4           Espayol_flat         38     2024-08-19     2025-05-24
5      FC_Barcelona_flat         52     2024-08-17     2025-05-25
6            Getafe_flat         38     2024-08-15     2025-05-24
7            Girona_flat         38     2024-08-15     2025-05-25
8        Las_Palmas_flat         38     2024-08-16     2025-05-24
9           Leganes_flat         38     2024-08-17     2025-05-24
10         Mallorca_flat         38     2024-08-18     2025-05-24
11          Osasuna_flat         38     2024-08-17     2025-05-24
12   Rayo_Vallecano_flat         38     2024-08-18     2025-05-24
13       Real_Betis_flat         38     2024-08-15     2025-05-23
14      Real_Madrid_flat         38     2024-08-18     2025-05-24
15    Real_Sociedad_flat         50     2024-08-18     2025-05-24
16  Real_Valladolid_flat         38     2024-08-19     2025-05-24
17          Sevilla_flat         38     2024-08-16     2025-05-25
18         Valencia_flat         38     2024-08-17     2025-05-23
19        Villareal_flat         38     2024-08-19     2025-05-25

### Jugadores

In [60]:
with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS bronze_players;"))
    conn.commit()
print(" Tabla 'bronze_players' eliminada correctamente.\n")

 Tabla 'bronze_players' eliminada correctamente.

In [61]:

#  Carpeta con los CSV de jugadores 
folder_path = r"D:\Fut_Pred\Datos_jugadores\2024-2025\Espa√±a"  
csv_files = glob(os.path.join(folder_path, "*.csv"))
print(f"üîç Se encontraron {len(csv_files)} archivos en {folder_path}\n")

#  Funci√≥n para limpiar encabezados
def clean_column_name(col):
    col = str(col).strip()
    col = re.sub(r"[^\w]+", "_", col)
    col = re.sub(r"__+", "_", col)
    col = col.strip("_")
    return col[:60]

#  Cargar archivos
for csv_path in csv_files:
    try:
        df = pd.read_csv(csv_path, sep=",", encoding="utf-8")

        # Limpieza de encabezados
        df.columns = [clean_column_name(c) for c in df.columns]
        df = df.loc[:, ~df.columns.duplicated()]

        # Metadatos
        df["league"] = "Laliga"
        df["season"] = "2024-2025"
        df["team_name"] = os.path.splitext(os.path.basename(csv_path))[0]
        df["file_source"] = os.path.basename(csv_path)

        # Cargar en MySQL
        df.to_sql("bronze_players", engine, if_exists="append", index=False, method="multi", chunksize=1000)
        print(f" Cargado: {os.path.basename(csv_path)} ({len(df)} filas)")

    except Exception as e:
        print(f" Error al cargar {os.path.basename(csv_path)} ‚Üí {e}")

print("\n Proceso completado: jugadores de Espa√±a cargados en 'bronze_players'")

üîç Se encontraron 20 archivos en D:\Fut_Pred\Datos_jugadores\2024-2025\Espa√±a

 Cargado: Alaves_flat.csv (579 filas)
 Cargado: Athletic_Club_flat.csv (829 filas)
 Cargado: Atletico_Madrid_flat.csv (764 filas)
 Cargado: Celta_vigo_flat.csv (607 filas)
 Cargado: Espanyol_flat.csv (598 filas)
 Cargado: FC_Barcelona _flat.csv (820 filas)
 Cargado: Getafe_flat.csv (582 filas)
 Cargado: Girona_flat.csv (714 filas)
 Cargado: Las_Palmas_flat.csv (607 filas)
 Cargado: Leganes_flat.csv (585 filas)
 Cargado: Mallorca_flat.csv (597 filas)
 Cargado: Osasuna_flat.csv (601 filas)
 Cargado: Rayo_Vallecano_flat.csv (606 filas)
 Cargado: Real_Betis_flat.csv (828 filas)
 Cargado: Real_Madrid_flat.csv (776 filas)
 Cargado: Real_Sociedad_flat.csv (789 filas)
 Cargado: Real_Valladolid_flat.csv (595 filas)
 Cargado: Sevilla_flat.csv (592 filas)
 Cargado: Valencia_flat.csv (597 filas)
 Cargado: Villareal_flat.csv (595 filas)

 Proceso completado: jugadores de Espa√±a cargados en 'bronze_players'

In [62]:

#  Carpeta con los CSV de jugadores 
folder_path = r"D:\Fut_Pred\Datos_jugadores\2024-2025\Inglaterra"  
csv_files = glob(os.path.join(folder_path, "*.csv"))
print(f"üîç Se encontraron {len(csv_files)} archivos en {folder_path}\n")

#  Funci√≥n para limpiar encabezados
def clean_column_name(col):
    col = str(col).strip()
    col = re.sub(r"[^\w]+", "_", col)
    col = re.sub(r"__+", "_", col)
    col = col.strip("_")
    return col[:60]

#  Cargar archivos
for csv_path in csv_files:
    try:
        df = pd.read_csv(csv_path, sep=",", encoding="utf-8")

        # Limpieza de encabezados
        df.columns = [clean_column_name(c) for c in df.columns]
        df = df.loc[:, ~df.columns.duplicated()]

        # Metadatos
        df["league"] = "Premier_League"
        df["season"] = "2024-2025"
        df["team_name"] = os.path.splitext(os.path.basename(csv_path))[0]
        df["file_source"] = os.path.basename(csv_path)

        # Cargar en MySQL
        df.to_sql("bronze_players", engine, if_exists="append", index=False, method="multi", chunksize=1000)
        print(f" Cargado: {os.path.basename(csv_path)} ({len(df)} filas)")

    except Exception as e:
        print(f" Error al cargar {os.path.basename(csv_path)} ‚Üí {e}")

print("\n Proceso completado: jugadores de Espa√±a cargados en 'bronze_players'")

üîç Se encontraron 20 archivos en D:\Fut_Pred\Datos_jugadores\2024-2025\Inglaterra

 Cargado: Arsenal_flat.csv (200 filas)
 Cargado: Aston_Villa_flat.csv (200 filas)
 Cargado: Bournemouth_flat.csv (200 filas)
 Cargado: Brentford_flat.csv (200 filas)
 Cargado: Brighton_flat.csv (200 filas)
 Cargado: Chelsea_flat.csv (200 filas)
 Cargado: Crystal_Palace_flat.csv (200 filas)
 Cargado: Everton_flat.csv (200 filas)
 Cargado: Fulham_flat.csv (200 filas)
 Cargado: Ipswich_flat.csv (200 filas)
 Cargado: Leicester_flat.csv (200 filas)
 Cargado: Liverpool_flat.csv (200 filas)
 Cargado: Manchester_city_flat.csv (200 filas)
 Cargado: Manchester_United_flat.csv (200 filas)
 Cargado: Newcastle_flat.csv (200 filas)
 Cargado: Nothingham_Forest_flat.csv (200 filas)
 Cargado: Southampton_flat.csv (200 filas)
 Cargado: Tottenham_flat.csv (200 filas)
 Cargado: West_Ham_flat.csv (200 filas)
 Cargado: Wolves_flat.csv (200 filas)

 Proceso completado: jugadores de Espa√±a cargados en 'bronze_players'

In [63]:
query = """
-- N√∫mero de registros por tabla
SELECT 'bronze_teams' AS tabla, COUNT(*) AS registros FROM bronze_teams
UNION ALL
SELECT 'bronze_players', COUNT(*) FROM bronze_players;
"""
pd.read_sql(query, engine)

            tabla  registros
0    bronze_teams       1605
1  bronze_players      17261

In [65]:
query = """
SELECT
    league,
    season,
    team_name,
    COUNT(*) AS total_partidos,
    MIN(Date) AS primer_partido,
    MAX(Date) AS ultimo_partido
FROM bronze_teams
GROUP BY league, season, team_name
ORDER BY league, team_name;
"""
pd.read_sql(query, engine)

,league,season,team_name,total_partidos,primer_partido,ultimo_partido
0,Laliga,2024-2025,Alaves_flat,38,2024-08-16,2025-05-24
1,Laliga,2024-2025,Athletic_Club_flat,38,2024-08-15,2025-05-25
2,Laliga,2024-2025,Atletico_Madrid_flat,48,2024-08-19,2025-05-25
3,Laliga,2024-2025,Celta_Vigo_flat,38,2024-08-16,2025-05-24
4,Laliga,2024-2025,Espayol_flat,38,2024-08-19,2025-05-24
5,Laliga,2024-2025,FC_Barcelona_flat,52,2024-08-17,2025-05-25
6,Laliga,2024-2025,Getafe_flat,38,2024-08-15,2025-05-24
7,Laliga,2024-2025,Girona_flat,38,2024-08-15,2025-05-25
8,Laliga,2024-2025,Las_Palmas_flat,38,2024-08-16,2025-05-24
9,Laliga,2024-2025,Leganes_flat,38,2024-08-17,2025-05-24
10,Laliga,2024-2025,Mallorca_flat,38,2024-08-18,2025-05-24
11,Laliga,2024-2025,Osasuna_flat,38,2024-08-17,2025-05-24
12,Laliga,2024-2025,Rayo_Vallecano_flat,38,2024-08-18,2025-05-24
13,Laliga,2024-2025,Real_Betis_flat,38,2024-08-15,2025-05-23
14,Laliga,2024-2025,Real_Madrid_flat,38,2024-08-18,2025-05-24
15,Laliga,2024-2025,Real_Sociedad_flat,50,2024-08-18,2025-05-24
16,Laliga,2024-2025,Real_Valladolid_flat,38,2024-08-19,2025-05-24
17,Laliga,2024-2025,Sevilla_flat,38,2024-08-16,2025-05-25
18,Laliga,2024-2025,Valencia_flat,38,2024-08-17,2025-05-23
19,Laliga,2024-2025,Villareal_flat,38,2024-08-19,2025-05-25
20,Premier_League,2024-2025,Arsenal_flat,52,2024-08-17,2025-05-25
21,Premier_League,2024-2025,Aston_Villa_flat,50,2024-08-17,2025-05-25
22,Premier_League,2024-2025,Bournemouth_flat,38,2024-08-17,2025-05-25
23,Premier_League,2024-2025,Brentford_flat,38,2024-08-18,2025-05-25
24,Premier_League,2024-2025,Brighton_flat,38,2024-08-17,2025-05-25
25,Premier_League,2024-2025,Chelsea_flat,51,2024-08-18,2025-05-28
26,Premier_League,2024-2025,Crystal_Palace_flat,38,2024-08-18,2025-05-25
27,Premier_League,2024-2025,Everton_flat,38,2024-08-17,2025-05-25
28,Premier_League,2024-2025,Fulham_flat,38,2024-08-16,2025-05-25
29,Premier_League,2024-2025,Ipswich_Town_flat,38,2024-08-17,2025-05-25
30,Premier_League,2024-2025,Leicester_flat,38,2024-08-19,2025-05-25
31,Premier_League,2024-2025,Liverpool_flat,38,2024-08-17,2025-05-25
32,Premier_League,2024-2025,Manchester_city_flat,48,2024-08-18,2025-05-25
33,Premier_League,2024-2025,Manchester_united_flat,38,2024-08-16,2025-05-25
34,Premier_League,2024-2025,Newcastle_flat,38,2024-08-17,2025-05-25
35,Premier_League,2024-2025,Nothingham_Forest_flat,38,2024-08-17,2025-05-25
36,Premier_League,2024-2025,Southampton_flat,38,2024-08-17,2025-05-25
37,Premier_League,2024-2025,Tottenham_flat,38,2024-08-19,2025-05-25
38,Premier_League,2024-2025,West_Ham_flat,38,2024-08-17,2025-05-25
39,Premier_League,2024-2025,Wolves_flat,38,2024-08-17,2025-05-25

In [67]:
query = """
SELECT
    team_name,
    COUNT(DISTINCT Player) AS total_jugadores,
    COUNT(*) AS total_registros
FROM bronze_players
GROUP BY team_name
ORDER BY total_jugadores DESC
LIMIT 10;
"""
pd.read_sql(query, engine)

              team_name  total_jugadores  total_registros
0       Las_Palmas_flat               38              607
1  Real_Valladolid_flat               38              595
2       Real_Betis_flat               37              828
3          Sevilla_flat               35              592
4       Celta_vigo_flat               32              607
5           Girona_flat               32              714
6    Real_Sociedad_flat               32              789
7         Valencia_flat               32              597
8    Athletic_Club_flat               31              829
9        Villareal_flat               31              595

In [73]:
query = """
SELECT *
FROM bronze_players
WHERE file_source = 'Las_Palmas_flat.csv'
LIMIT 10;
"""
pd.read_sql(query, engine)

,Rk,Player,Sh,Cmp,SCA,GCA,CrdY,Touches,Tkl,Date,...,Performance_CrdR,Performance_2CrdY,Performance_Fls,Performance_Fld,Performance_Pos,Performance_Match_Report,league,season,team_name,file_source
0,1,Jaime Mata,1,7,0,0,0,22,1,8/16/2024,...,0,0,2,1,"FW,MF",Match Report,Laliga,2024-2025,Las_Palmas_flat,Las_Palmas_flat.csv
1,2,Jasper Cillessen,0,31,0,0,0,44,0,8/16/2024,...,0,0,0,0,GK,Match Report,Laliga,2024-2025,Las_Palmas_flat,Las_Palmas_flat.csv
2,3,Aboubacar Bassinga,0,2,0,0,0,4,0,8/16/2024,...,0,0,1,0,MF,Match Report,Laliga,2024-2025,Las_Palmas_flat,Las_Palmas_flat.csv
3,4,Scott McKenna,0,13,0,0,0,15,0,8/16/2024,...,0,0,0,0,DF,Match Report,Laliga,2024-2025,Las_Palmas_flat,Las_Palmas_flat.csv
4,5,Manuel Fuster,0,11,3,1,0,21,1,8/16/2024,...,0,0,1,1,"FW,MF",Match Report,Laliga,2024-2025,Las_Palmas_flat,Las_Palmas_flat.csv
5,6,Enzo Loiodice,0,38,4,0,0,55,1,8/16/2024,...,0,0,0,0,MF,Match Report,Laliga,2024-2025,Las_Palmas_flat,Las_Palmas_flat.csv
6,7,Oliver McBurnie,1,11,4,0,0,29,1,8/16/2024,...,0,0,1,2,FW,Match Report,Laliga,2024-2025,Las_Palmas_flat,Las_Palmas_flat.csv
7,8,Sandro Ram√≠rez,2,3,0,0,0,11,1,8/16/2024,...,0,0,0,2,"FW,MF",Match Report,Laliga,2024-2025,Las_Palmas_flat,Las_Palmas_flat.csv
8,9,√Ålex Mu√±oz,1,32,3,0,0,59,5,8/16/2024,...,0,0,3,2,DF,Match Report,Laliga,2024-2025,Las_Palmas_flat,Las_Palmas_flat.csv
9,10,Kirian Rodr√≠guez,1,65,1,0,0,88,1,8/16/2024,...,0,0,0,1,MF,Match Report,Laliga,2024-2025,Las_Palmas_flat,Las_Palmas_flat.csv